html, body{
    height: 100%;
}

.content {
    margin-top: 50px;
    min-height: 100%;
    padding: 20px;
}
.content h1{
    font-size: 60px;
    margin-bottom: 10px;
}

.content button{
    background-color: #333;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
}

.content button:hover{
    cursor: pointer;
    background-color: #000000;
}

footer{
    position: relative;
}

body {
    background-image: url('/source/bgm_imgnorm.png'); /* Replace with your image path */
    background-size: 1200px; /* Cover the entire viewport */
    background-position-x: 520px;
     /* Center the image */
     background-position-y: 70px;
    background-repeat: no-repeat; /* Prevent tiling */
}
.content p{
    width: 660px;
    margin-top: 20px;
    font-size: medium;
    line-height: 30px;
}