.edit-icon:hover {
    cursor: pointer;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    min-height: 100vh;
}

.profile-container {
    width: 80%;
    max-width: 900px;
    margin: 2rem auto;
    padding: 2rem;
    background: #ffffff;
    overflow: hidden;
    padding: 20px;
    text-align: center;
    position: relative;
}

.profile-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.profile-header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #333;
    margin-bottom: 10px;
}

.profile-header p{
    margin-top: 5px;
}

.profile-tech-skills {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 8px;
    width: 150px;
    text-align: left;
}

.profile-links {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

.profile-links a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.profile-stats {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.skills {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.skill {
    background-color: #333;
    color: #fff;
    padding: 0.5rem 1rem;
    margin: 0.3rem;
    border-radius: 20px;
}

.stat-box {
    padding: 15px;
    background-color: #c9d6ff;
    border-radius: 8px;
    flex: 1;
    margin: 0 10px;
}

.edit-button{
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    margin: 1rem;
    border-radius: 5px;
    cursor: pointer;
}
.edit-button {
    background-color: #333;
}

.edit-button:hover{
    background-color: #000000;
}
